@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Orbitron:wght@400..900&display=swap');

:root {
  --black: #222;
  --white: #ddd;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "DotGothic16", sans-serif;
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  padding: 40px;
  min-height: 100dvh;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

main {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 24px;
}


h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
}

#status, #message {
  background-color: var(--black);
  color: var(--white);
  padding: 8px 8px 8px 48px;
  border-radius: 4px;
  position: relative;
}

#status::before {
  content: ">_";
  display: block;
  position: absolute;
  top: 40%;
  left: 16px;
  transform: translate(0, -50%);
}
